<h1>Robot#index</h1>
<table>
  <% @robots.each do |robot| %>
    <tr>
      <td><%= link_to robot.name, robot_path(robot) %></td>
      <td><%= button_to 'Edit', edit_robot_path(robot), method: 'get'%></td>
      <td><%= button_to 'Remove', robot_path(robot), method: 'delete', data: { confirm: 'Are you sure?' } %></td>
  <% end %>
</table>
<%= link_to "Add a New Robot", new_robot_path %>