<h1>Robot#show</h1>

<h2>NAME: <%= @robot.name %></h2>
<h4>SLOGAN: "<%= @robot.slogan %>"</h4>
<h4>Active_status "<%= @robot.active_status %>"</h4>
<h4>weapon "<%= @robot.weapon %>"</h4>


<%= button_to "All Robots", robots_path, method: :get %>